/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
ins {
    background-color:#ff9; /* change to suit */
    color:#000;
    text-decoration:none;
}
mark {
    background-color:#ff9; /* change to suit */
    color:#000;  /* change to suit */
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc; /* change to suit */
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}

/* additional resets */
html {
    -webkit-text-size-adjust:none; /* prevent font scaling in landscape */
  	-webkit-font-smoothing:antialiased; /* prevent heavy font rendering */
	-webkit-touch-callout:none;   
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
div {
	-webkit-box-sizing:border-box; 
	   -moz-box-sizing:border-box; 
	        box-sizing:border-box; 
}
img {
	display:block;	
	max-width:100%;
	height:auto;
}
a img  {
	outline:none;
	border:none;
}
input,
submit,
input[type='submit'],
button,
textarea {
	border:none;
 	outline:none;
    -webkit-appearance:none;
    -webkit-border-radius:0;
            border-radius:0;
	-webkit-box-sizing:border-box; 
	   -moz-box-sizing:border-box; 
	        box-sizing:border-box; 
}
submit,
input[type='submit'],
button {
	cursor:pointer;	
}
input:-webkit-autofill {
    -webkit-box-shadow:0 0 0px 1000px white inset;
}